[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "krauselab_website"]
	path = krauselab_website
	url = git@github.com:dburkhardt/krauselab_website.git
	branch = master
