
.principal-investigator {
  border-top: 10px solid #124160;
}

.postdoctoral-associate {
  border-top: 10px solid #659b90;
}

.associate-research-scientist {
  border-top: 10px solid #3184b8;
}

.post-graduate-associate
 {
  border-top: 10px solid #875F9A;
}

.graduate-student {
  border-top: 10px solid #49ae6e;
}

.undergraduate {
  border-top: 10px solid #7be0a0;
}

.senior-administrative-assistant {
  border-top: 10px solid #875F9A;
}

.instructor{
  border-top: 10px solid #b0a1ba;
}


.clinical-laboratory-director {
  border-top: 10px solid #ea3017;
}

.research-associate {
  border-top: 10px solid #ea7317;
}

.clinical-technologist {
  border-top: 10px solid #fec601;
}



a {
  color: #005bb8;
}

.faux-link{
  color: #005bb8;

}

.faux-link p{
  color: #005bb8;
}

.faux-link p:hover {
  text-decoration: underline;
}

.section-heading p{
  color: #4a4a4a;
}

figcaption {
  font-size: .85rem;
}


.jtron {
  text-align: center;
  height: 400px;
}

@media
  only screen and (min-width: 850px) {
  .parallax {
    max-height: 800px;
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .jtron {
      padding-top: 3rem;
  }
  .jtron h1{
    font-size: 5rem;
  }

  .jtron h2{
    font-size: 3rem;
  }

  .jtron p{
    font-size: 1.5rem;
  }


}

@media
  only screen and (min-width: 420px) and (max-width: 849px) {
  .parallax {
    max-height: 800px;
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 200%;
  }

  .jtron {
      padding-top: 7rem;
  }

  .jtron h1{
    font-size: 2.5rem;
  }

  .jtron h2{
    font-size: 1.75rem;
  }

  .jtron p{
    font-size: 1.25rem;
  }
}

@media
  only screen and (max-width: 419px) {
  .parallax {
    max-height: 400px;
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 300%;
  }

  .jtron {
    height: 300px;
    padding-top: 3rem;
  }
}

.icon-frame {
  height: 100px;
  /* equals max image height */
  width: 100px;
  border: 1px solid red;
  white-space: nowrap;
  text-align: center;
  margin: 1em 1em;
}

.icon-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.research-icon {
  text-align: center;
  margin-left: 10px;
}

.research-icon img {
  width: 120px;
  height: 120px;
  max-height: 120px;
  max-width: 120px;
  margin: auto;
  display: block;
  vertical-align: middle;
}

.research-image {
  vertical-align: middle
}



.research-heading h4{
  font-size: 1.25rem;
}

.wg-active-projects h4 {
  font-size: 1.5rem;
}

.portrait-holder {
  padding-top: 40px;
  height: 400px
}

.portrait  {
  border-radius: 10px;
  height: 330px;
  width: 220px;
  margin-top: 0px;
}

.description{

}

.description h3{
  font-size: 1rem;
}

.experience .card-text,
.experience .card-text p {
  color: #000 !important;
  font-size: .85rem !important;
}

.experience .card-title {
  font-size: 1rem;
}

img[src$='#center']
{
    display: block;
    margin: 2rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

.img-sm {
  max-height: 200px;
}

.img-sm img{
  max-height:200px
}

.img-md {
  max-height: 450px;
}

.img-md img{
  max-height:350px
}

.img-md figcaption{
  color: grey;
  text-align: center;
  font-size: .8rem;
}


.img-lg {
  max-height: 500px;
}

.img-lg img{
  max-height:500px
}

.img-xl {
  max-height: 700px;
}

.img-xl img{
  max-height:700px
}


.slideshow-mask {

}

.slideshow-mask:before {
  content: '';
  display: block;
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  transition: height 0.1s ease-out;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.activites-slider{
  margin-top: 3rem;
}

/* Research widget */
.attend {
  margin-bottom: 2rem;
}

.attend video{
  border-radius: 0%;
}

.attend-quote{
  display: flex;
  align-items: center;
  color: #4c4c4c;
  font-family: $headings-font-family;
}

@media
  only screen and (max-width: 576px) {
    .research-heading{
      margin-bottom: 2rem;
      margin-left: 0vw;
      margin-right: 0vw;
    }

    .research-heading h1 {
      font-size: 1.75rem;
    }

    .img_caption{
      font-size: 1rem;
      margin-top: 1rem;
    }

    .attend {
      flex-direction: column-reverse;
    }

    .attend-video {
      padding-left: 10vw;
      padding-right: 10vw;
    }

    .attend-quote {
      display: none;
    }

    .attend-quote h2{
        font-size: 1.25rem;
        display: none;
    }

}
/* Medium */
@media
  only screen and (min-width: 575px) and (max-width: 999px) {
    .research-heading{
      margin-bottom: 4rem;
      text-align: center;
    }

    .img_caption{
      font-size: 0.9rem;
      margin-top: 1rem;
    }
    .attend-video {
      padding-left: 3rem;
    }

    .attend-quote {
      margin-bottom: 7rem;
      padding-left: 3.5vw;

    }
    .attend-quote h2{
        font-size: 1.5rem;
    }
}
/* Large */

@media
  only screen and (min-width: 1000px) {
    .research-heading{
      margin-bottom: 4rem;
      text-align: center;
    }

    .img_caption{
      font-size: 0.9rem;
      margin-top: 1rem;
    }
    .attend-video {
      padding-left: 3rem;
    }

    .attend-quote {
      margin-bottom: 7rem;
      padding-left: 3.5vw;
    }
    .attend-quote h2{
        font-size: 1.75rem;
    }
}
.attend-video img{
  margin-left: auto;
  margin-right: auto;
}


/* For the vimeo cover */

.button {
  width: 48px;
  height: 48px;
  position: absolute;
  left:calc(50% - 24px);
  top: calc(50% - 24px);
  fill: white;
  cursor: pointer;
}



.defs {
position: absolute;
top: -9999px;
left: -9999px;
}

.buttons {
padding: 2rem;
cursor: pointer;
background-image: url('/img/mission_thumbnail.jpg');
background-size: cover;
float: left;
z-index: 1;
position: absolute;
left:0px;
top:0px;
width: 100%;
height: 100%;
}

.shadow {
  background-color: rgba(0,0,0, 0.3);
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-cover:hover .button {
    fill: #286dc0;
}

.hidden {
  display: none;
}

/* People cards */

.people-card {
  max-width: 300px;
  background: #ffffff;
  flex-basis: 100%;
  width: 280px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 75px; /* Added */
}

.people-card img{
  border-radius: 30px;
  padding: 20px 20px;
  max-height:400px; /* Needed for safari?? */
}

.people-card p{
  font-size: 1rem;
  margin-top: 1rem;
  height: 3rem;



}

.people-card h5{
  margin-top: -20px;
  height: 2rem;
}

.portrait-title h3{
  color: #4c5762
}

.btn-join{
color: white;
background-color: #63aaff;
border-color: #fff;
margin-top:1rem;
}

.btn-join h4{
  color: white;
  margin: 0.25rem;
}

.jobtron {
  text-align: center;
  height: 400px;
}

.job-jumbo{

}
.job-jumbo h1{
  font-size: 2.5rem;
}

.job-jumbo h2{
  font-size: 1.75rem;
}

.job-jumbo p{
  font-size: 1.25rem;
}
