.jtron{
  text-align: center;
  height: 400px;
  margin: auto;
  padding-top: 6rem;
}

.card{

}

.icon-frame {
    height: 100px;      /* equals max image height */
    width: 100px;
    border: 1px solid red;
    white-space: nowrap;
    text-align: center; margin: 1em 1em;
}

.icon-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;

}

img{
  max-height: 100px;
  max-width: 100px;
  vertical-align: middle;
}

.research-icon {
  text-align: center;
  margin-left: 10px;
}

.research-icon img {
    width: 120px;
    height: 120px;
    margin: auto;
    display: block;
}


.experience .card-text,
.experience .card-text p {
  color: #000 !important;
  font-size: .85rem !important;
}

.experience .card-title {
  font-size: 1rem;
}
